


<h1>Dodaj vožnjo</h1>
<br><br>
<form action="/voznje" method="post">
    <input type="date" name="datum_voznje" placeholder="Datum vožnje" required=""> <br><br>
    <input type="text" name="cas_zacetka" placeholder="Čas začetka" required=""> <br><br>
    <input type="text" name="cas_konca" placeholder="Čas konca" required=""> <br><br>

    <input type="submit" value="Dodaj" name="Dodaj" class="btn btn-primary">
</form>
